@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
  }

html, body {
    height: 100%;
}
.body-wrap{
    flex:1;
    margin: 40px auto; 
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color:#666666
}
header{
    height: 54px;
    top: 0;
    background-color: white;
    z-index: 100;
    position:fixed; 
    width:100%;
    border-bottom: solid #F8F8F8;
}  

.flex-view{
    max-width: 1200px;
    display:flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding:5px 5px 0 5px;
    width:100% 
}
a {
    text-decoration: none;
}
.title{
    color:#448899;
    font-size: 30px;
    font-weight: bold;
}

.item{
    color:#666666;
    font-size:16px; 
    font-weight:600;
    cursor: pointer;  
}
.item:hover{
    font-weight:800;
}
.hidden{
    display:none;  
}
hr{
    display: block;
    width:100%;
    max-width:1200px;
    height: 1px;
    border: 0;
    border-top: 1px solid #E8E8E8;
    margin: 2em 0;
    padding: 0;
}
.booking-wrap, .no-booking-wrap{
    width:100%;
    max-width:1200px;
    margin:0 auto;
}
.hidden-content{
    display:none;
}
/* first part */
.itinerary-wrap, .itinerary-no-bookingwrap {
    margin: 110px 20px 20px 20px;
}
.itinerary-intro{
    padding-bottom: 20px;
    font-weight:600;
}
.itinerary-img{
    object-fit: cover;
    height:200px;
    width:250px;
}

.itinerary-img-text-wrap{
    display:flex;
    position:relative;
}

.itinerary-text{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding:0 10px 30px 10px;
    gap:10px; 
}
.itinerary-title{
    color:#448899;
    font-weight: 600;
}
.delete-wrap{
    position:absolute; 
    right:5%;
}
.danger{
    cursor: pointer;
}
 

.contact-form, .card-info{
    display:flex;
    flex-direction: column; 
    justify-content: space-between;    
    margin: 20px; 
    line-height: 2rem;
}
.contact-text, .card-text, .submit-text{
    font-weight:600;
}
input{
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 200px;
    height: 38px;
    margin: 5px 0;
    padding:5px;
}
.contact-warn{
    font-weight:500;

}
.submit-wrap{
    justify-content: end;
    display: flex;
    margin-right:10px;


}
.submit{
    display: flex;
    flex-direction: column;
}
.submit-btn{
    width:90%;
    color:white; 
    background-color:#448899;
    border-radius: 5px;
    border-color: transparent;
    margin-top:20px;
    margin-bottom: 20px;
    padding: 5px 10px;
}
footer{

    background-color: #757575;
    text-align: center;
    padding: 40px 0;
    margin-top: auto;
}
.footer-text{
    color:#FFFFFF;
    font-weight:bold;
    font-size: 16px;
    line-height: 13.3px;

}

@media only screen and (max-width: 800px) {
    .booking-wrap{ 
        max-width: 550px;
        margin:43px auto 30px auto;
        padding:0;

    }
    .itinerary-img{
        width:400px;
    }

    .itinerary-img-text-wrap{
        flex-direction:column;
        gap:20px;
    }
    .itinerary-text {
        padding-bottom: 0px;
    }
    .delete-wrap{
        position: relative;
    }
    .danger{
        position: absolute; 
        right:5%;
        top:-15px;
        
    }
    hr {
        max-width: 780px;
    }
}

@media only screen and (max-width: 600px) {
    .booking-wrap{ 
        max-width: 550px;
        margin:43px auto 30px auto;
        padding:0;

    }
    /* .itinerary-wrap{
        margin-right:10px;
        margin-left:10px
    } */
    .itinerary-wrap, .itinerary-no-bookingwrap {
        margin: 50px 10px 0px 10px;
    }

    .itinerary-img{
        width:340px;
    }

    .itinerary-img-text-wrap{
        flex-direction:column;
        gap:20px;
    }
    .itinerary-text {
        padding-bottom: 0px;
    }
    .delete-wrap{
        position: relative;
    }
    .danger{
        position: absolute; 
        right:5%;
        top:-15px;
    }

    hr {
        max-width: 580px;
    }

  }