@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
  }

html, body {
    height: 100%;
}
.body-wrap{
    flex:1;
    margin: 40px auto; 
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color:#666666
}
header{
    height: 54px;
    top: 0;
    background-color: white;
    z-index: 100;
    position:fixed; 
    width:100%;
    border-bottom: solid #F8F8F8;
}  

.flex-view{
    max-width: 1200px;
    display:flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding:5px 5px 0 5px;
    width:100% 
}
a {
    text-decoration: none;
}
.title{
    color:#448899;
    font-size: 30px;
    font-weight: bold;
}

.item{
    color:#666666;
    font-size:16px; 
    font-weight:600;
    cursor: pointer;  
}
.item:hover{
    font-weight:800;
}
.hidden{
    display:none;  
}

.payment-result{
    margin: 110px 20px 0 20px;
}

.booking-wrap {
    width:100%;
    max-width:1200px;
    margin:0 auto;
}

.payment-result{
    font-size: 2rem;
}
/* first part */
.itinerary-wrap, .itinerary-no-bookingwrap {
    margin: 30px 20px 20px 20px;
}
.itinerary-intro{
    padding-bottom: 20px;
    font-weight:600;
}
.itinerary-img{
    object-fit: cover;
    height:200px;
    width:250px;
}

.itinerary-img-text-wrap{
    display:flex;
    position:relative;
}

.itinerary-text{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding:0 10px 30px 10px;
    gap:10px; 
}
.itinerary-title{
    color:#448899;
    font-weight: 600;
}

.contact-wrap{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 10px; 
}
footer{

    background-color: #757575;
    text-align: center;
    padding: 40px 0;
    margin-top: auto;
}
.footer-text{
    color:#FFFFFF;
    font-weight:bold;
    font-size: 16px;
    line-height: 13.3px;

}

@media only screen and (max-width: 800px) {
    .booking-wrap{ 
        max-width: 550px;
        margin:43px auto 30px auto;
        padding:0;

    }
    .itinerary-img{
        width:400px;
    }

    .itinerary-img-text-wrap{
        flex-direction:column;
        gap:20px;
    }
    .itinerary-text {
        padding-bottom: 0px;
    }

}

@media only screen and (max-width: 600px) {
    .booking-wrap{ 
        max-width: 550px;
        margin:43px auto 30px auto;
        padding:0;

    }
    .itinerary-wrap, .itinerary-no-bookingwrap {
        margin: 50px 10px 0px 10px;
    }

    .itinerary-img{
        width:340px;
    }

    .itinerary-img-text-wrap{
        flex-direction:column;
        gap:20px;
    }
    .itinerary-text {
        padding-bottom: 0px;
    }



  }